<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NTDL</title>

</head>

<body>
	<div id="mainpage">
		<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">NTDL</a>
			<input class="form-control form-control-dark w-100" type="text" placeholder="New entry" aria-label="Search"
				v-on:keyup.enter="postNewValue" v-model="newEntryValue">
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="#" v-on:click="postNewValue">Download</a>
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="#">
									<span data-feather="home"></span>
									Dashboard <span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<h2>Download queue</h2>
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th>Filename</th>
									<th>Status</th>
									<th>Actions <a href='#' v-on:click="(removeComplete())" title="Clear All"><trash-2-icon size="1.5x" class="custom-class"></trash-2-icon></a></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="entry in queue" v-bind:key="entry.url">
									<td>{{entry.filename}}</td>
									<td v-bind:title=entry.errorMessage>{{entry.status}}</td>
									<td>
										<a href='#' v-on:click="(removeValue(entry))" title="Delete"><trash-2-icon size="1.5x" class="custom-class"></trash-2-icon></a>
										<a href='#' v-on:click="(retryDownload(entry))" title="Retry"><rotate-ccw-icon size="1.5x" class="custom-class"></rotate-ccw-icon></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</main>
			</div>
		</div>
	</div>
	<script src="main.js"></script>
</body>
<html>